@page
@model techdrop.Pages.Principal.contatoModel
@{
}
<style> 
    .img-produto {
        width: 450px;
        height: 450px;
    }
</style>
<section class="produtos">
    <!-- Lista de produtos -->
    <h2 id="h2Prod">Nossos Produtos</h2>
    <div class="containerProdutos">
        <br>
        <br>
        <div class="produto">
            <!-- Colocar as fotos que estão no caminho: C:\\Users\\techd\\OneDrive\\Desktop\\Projetos A3\\Projeto A3 Comp Graf\\products\\monitor.jpeg -->
            <h3>Monitor Gamer</h3>
            <p>Descrição do Produto 1.</p>
            <img class="img-produto" src="~/content/Images/monitor1.svg"></img>
            <br>
            <span class="preco">R$ 999,99</span>
            <a href="/Principal/comprar">
                <button class="ui-btn-prod">
                    <span>
                        Adicionar <i class="fi fi-rr-shopping-cart"></i>
                    </span>
                </button>
            </a>
        </div>
        <div class="produto">
            <!-- Colocar as fotos que estão no caminho: C:\\Users\\techd\\OneDrive\\Desktop\\Projetos A3\\Projeto A3 Comp Graf\\products\\monitor.jpeg -->
            <h3>Monitor Gamer</h3>
            <p>Descrição do Produto 1.</p>
            <img class="img-produto"  src="~/content/Images/monitor2.svg"></img>
            <br>
            <span class="preco">R$ 999,99</span>
            <a href="/Principal/comprar">
                <button class="ui-btn-prod">
                    <span>
                        Comprar
                    </span>
                </button>
            </a>
        </div>
        <div class="produto">
            <!-- Colocar as fotos que estão no caminho: C:\\Users\\techd\\OneDrive\\Desktop\\Projetos A3\\Projeto A3 Comp Graf\\products\\monitor.jpeg -->
            <h3>Mouse Gamer</h3>
            <p>Light Mouse Oex 25EB - Cor: White/RGB - DPI: 100 ~ 12400.</p>
            <img class="img-produto" src="~/content/Images/mouse1.svg"></img>
            <br>
            <span class="preco">R$ 999,99</span>
            <a href="/Principal/comprar">
                <button class="ui-btn-prod">
                    <span>
                        Comprar
                    </span>
                </button>
            </a>
        </div>
        <div class="produto">
            <!-- Colocar as fotos que estão no caminho: C:\\Users\\techd\\OneDrive\\Desktop\\Projetos A3\\Projeto A3 Comp Graf\\products\\monitor.jpeg -->
            <h3>Mouse Gamer</h3>
            <p>.</p>
            <img src="~/content/Images/mouse2.svg"></img>
            <br>
            <span class="preco">R$ 999,99</span>
            <a href="/Principal/comprar">
                <button class="ui-btn-prod">
                    <span>
                        Comprar
                    </span>
                </button>
            </a>
        </div>
        <div class="produto">
            <!-- Colocar as fotos que estão no caminho: C:\\Users\\techd\\OneDrive\\Desktop\\Projetos A3\\Projeto A3 Comp Graf\\products\\monitor.jpeg -->
            <h3>Mouse Gamer</h3>
            <p>Descrição do Produto 1.</p>
            <img src="~/content/Images/mouse3.svg"></img>
            <br>

            <span class="preco">R$ 999,99</span>
            <a href="/Principal/comprar">
                <button class="ui-btn-prod">
                    <span>
                        Comprar
                    </span>
                </button>
            </a>
        </div>
        <div class="produto">
            <!-- Colocar as fotos que estão no caminho: C:\\Users\\techd\\OneDrive\\Desktop\\Projetos A3\\Projeto A3 Comp Graf\\products\\monitor.jpeg -->
            <h3>Memoria Ram</h3>
            <p>Descrição do Produto 1.</p>
            <img src="~/content/Images/memoriaram1.svg"></img>
            <br>

            <span class="preco">R$ 999,99</span>
            <a href="/Principal/comprar">
                <button class="ui-btn-prod">
                    <span>
                        Comprar
                    </span>
                </button>
            </a>
        </div>
        <div class="produto">
            <!-- Colocar as fotos que estão no caminho: C:\\Users\\techd\\OneDrive\\Desktop\\Projetos A3\\Projeto A3 Comp Graf\\products\\monitor.jpeg -->
            <h3>Memoria Ram</h3>
            <p>Descrição do Produto 1.</p>
            <img src="~/content/Images/memoriaram2.svg"></img>
            <br>

            <span class="preco">R$ 999,99</span>
            <a href="/Principal/comprar">
                <button class="ui-btn-prod">
                    <span>
                        Comprar
                    </span>
                </button>
            </a>
        </div>
        <div class="produto">
            <!-- Colocar as fotos que estão no caminho: C:\\Users\\techd\\OneDrive\\Desktop\\Projetos A3\\Projeto A3 Comp Graf\\products\\monitor.jpeg -->
            <h3>Headset Gamer</h3>
            <p>Descrição do Produto 1.</p>
            <img src="~/content/Images/headset1.svg"></img>
            <br>

            <span class="preco">R$ 999,99</span>
            <a href="/Principal/comprar">
                <button class="ui-btn-prod">
                    <span>
                        Comprar
                    </span>
                </button>
            </a>
        </div>
        <div class="produto">
            <!-- Colocar as fotos que estão no caminho: C:\\Users\\techd\\OneDrive\\Desktop\\Projetos A3\\Projeto A3 Comp Graf\\products\\monitor.jpeg -->
            <h3>Headset Gamer</h3>
            <p>Descrição do Produto 1.</p>
            <img src="~/content/Images/headset2.svg"></img>
            <br>

            <span class="preco">R$ 999,99</span>
            <a href="/Principal/comprar">
                <button class="ui-btn-prod">
                    <span>
                        Comprar
                    </span>
                </button>
            </a>
        </div>
        <div class="produto">
            <!-- Colocar as fotos que estão no caminho: C:\\Users\\techd\\OneDrive\\Desktop\\Projetos A3\\Projeto A3 Comp Graf\\products\\monitor.jpeg -->
            <h3>Teclado Gamer</h3>
            <p>Descrição do Produto 1.</p>
            <img src="~/content/Images/teclado1.svg"></img>
            <br>

            <span class="preco">R$ 999,99</span>
            <a href="/Principal/comprar">
                <button class="ui-btn-prod">
                    <span>
                        Comprar
                    </span>
                </button>
            </a>
        </div>
        <div class="produto">
            <!-- Colocar as fotos que estão no caminho: C:\\Users\\techd\\OneDrive\\Desktop\\Projetos A3\\Projeto A3 Comp Graf\\products\\monitor.jpeg -->
            <h3>Teclado Gamer</h3>
            <p>Descrição do Produto 1.</p>
            <img src="~/content/Images/teclado2.svg"></img>
            <br>

            <span class="preco">R$ 999,99</span>
            <a href="/Principal/comprar">
                <button class="ui-btn-prod">
                    <span>
                        Comprar
                    </span>
                </button>
            </a>
        </div>
        <div class="produto">
            <!-- Colocar as fotos que estão no caminho: C:\\Users\\techd\\OneDrive\\Desktop\\Projetos A3\\Projeto A3 Comp Graf\\products\\monitor.jpeg -->
            <h3>Teclado Gamer</h3>
            <p>Descrição do Produto 1.</p>
            <img src="~/content/Images/teclado3.svg"></img>
            <br>
            <span class="preco">R$ 999,99</span>
            <a href="/Principal/comprar">
                <button class="ui-btn-prod">
                    <span>
                        Comprar
                    </span>
                </button>
            </a>
        </div>
    </div>
</section>