@page
@model techdrop.Pages.Principal.contatoModel
@{
}
<section class="produtos">
    <!-- Lista de produtos -->
    <h2 id="h2Prod">Nossos Produtos</h2>
    <div class="containerProdutos">
        <br>
        <br>
        <div class="produto">
            <!-- Colocar as fotos que estão no caminho: C:\\Users\\techd\\OneDrive\\Desktop\\Projetos A3\\Projeto A3 Comp Graf\\products\\monitor.jpeg -->
            <h3>Monitor Gamer</h3>
            <p>Descrição do Produto 1.</p>
            <span class="preco">R$ 999,99</span>
            <a href="/Principal/comprar">
                <button class="ui-btn-prod">
                    <span>
                        Comprar
                    </span>
                </button>
            </a>
        </div>
        <div class="produto">
            <div class="img"></div>
            <h3>Nome do Produto 2</h3>
            <p>Descrição do Produto 2.</p>
            <span class="preco">R$ 1299,99</span>
            <a href="/Principal/comprar">
                <button class="ui-btn-prod">
                    <span>
                        Comprar
                    </span>
                </button>
            </a>
        </div>
        <div class="produto">
            <div class="img"></div>
            <h3>Nome do Produto 3</h3>
            <p>Descrição do Produto 3.</p>
            <span class="preco">R$ 3399,99</span>
            <a href="/Principal/comprar">
                <button class="ui-btn-prod">
                    <span>
                        Comprar
                    </span>
                </button>
            </a>
        </div>
        <div class="produto">
            <div class="img"></div>
            <h3>Nome do Produto 4</h3>
            <p>Descrição do Produto 4.</p>
            <span class="preco">R$ 4499,99</span>
            <a href="/Principal/comprar">
                <button class="ui-btn-prod">
                    <span>
                        Comprar
                    </span>
                </button>
            </a>
        </div>

    </div>
</section>