@page
@model techdrop.Pages.Principal.produtosModel
@{
}
<style>
    .img-produto {
        width: 450px;
        height: 450px;
    }
</style>
<section class="produtos">
    <!-- Lista de produtos -->
    <h2 id="h2Prod">Nossos Produtos</h2>
    <div class="containerProdutos">
        <br>
        <br>
        <div class="produto">
            <!-- Colocar as fotos que estão no caminho: C:\\Users\\techd\\OneDrive\\Desktop\\Projetos A3\\Projeto A3 Comp Graf\\products\\monitor.jpeg -->
            <h3>Monitor Gamer Samsung T350 24"</h3>
            <p>Monitor Gamer T350 24" FHD, 75Hz, 5ms, HDMI e DisplayPort, FreeSync, Game Mode</p>
            <img class="img-produto" src="~/content/Images/monitor1.svg"></img>
            <br>
            <span class="preco">R$ 650,00</span>
            <a href="/Principal/comprar">
                <button class="ui-btn-prod">
                    <span>
                        Comprar <i class="fi fi-rr-shopping-cart"></i>
                    </span>
                </button>
            </a>
        </div>
        <div class="produto">
            <!-- Colocar as fotos que estão no caminho: C:\\Users\\techd\\OneDrive\\Desktop\\Projetos A3\\Projeto A3 Comp Graf\\products\\monitor.jpeg -->
            <h3>Monitor Gamer AOC 24,5"</h3>
            <p>Monitor Gamer AOC 24,5" FHD, 240Hz, 0.5ms, HDMI e DisplayPort, FreeSync Premium</p>
            <img class="img-produto" src="~/content/Images/monitor2.svg"></img>
            <br>
            <span class="preco">R$ 1.650,99</span>
            <a href="/Principal/comprar">
                <button class="ui-btn-prod">
                    <span>
                        Comprar
                    </span>
                </button>
            </a>
        </div>
        <div class="produto">
            <!-- Colocar as fotos que estão no caminho: C:\\Users\\techd\\OneDrive\\Desktop\\Projetos A3\\Projeto A3 Comp Graf\\products\\monitor.jpeg -->
            <h3>Mouse Gamer Model O</h3>
            <p>Mouse Gamer Model O, RGB, 200 ~ 12000 DPI, USB, 6 botões programáveis, 69g</p>
            <img class="img-produto" src="~/content/Images/mouse1.svg"></img>
            <br>
            <span class="preco">R$ 500,00</span>
            <a href="/Principal/comprar">
                <button class="ui-btn-prod">
                    <span>
                        Comprar
                    </span>
                </button>
            </a>
        </div>
        <div class="produto">
            <!-- Colocar as fotos que estão no caminho: C:\\Users\\techd\\OneDrive\\Desktop\\Projetos A3\\Projeto A3 Comp Graf\\products\\monitor.jpeg -->
            <h3>Mouse Gamer Logitech G703 Lightspeed</h3>
            <p>Mouse Gamer Logitech G703 Lightspeed, RGB, 100 ~ 25600 DPI, USB ou Lightspeed Wireless, 6 botões programáveis, 99g</p>
            <img class="img-produto" src="~/content/Images/mouse2.svg"></img>
            <br>
            <span class="preco">R$ 500,00</span>
            <a href="/Principal/comprar">
                <button class="ui-btn-prod">
                    <span>
                        Comprar
                    </span>
                </button>
            </a>
        </div>
        <div class="produto">
            <!-- Colocar as fotos que estão no caminho: C:\\Users\\techd\\OneDrive\\Desktop\\Projetos A3\\Projeto A3 Comp Graf\\products\\monitor.jpeg -->
            <h3>Mouse Logitech MX Anywhere for Business</h3>
            <p>Mouse Logitech MX Anywhere for Business, 400 ~ 1600 DPI, USB ou Bluetooth, 6 botões programáveis, 99g</p>
            <img class="img-produto" src="~/content/Images/mouse3.svg"></img>
            <br>
            <span class="preco">R$ 530,00</span>
            <a href="/Principal/comprar">
                <button class="ui-btn-prod">
                    <span>
                        Comprar
                    </span>
                </button>
            </a>
        </div>
        <div class="produto">
            <!-- Colocar as fotos que estão no caminho: C:\\Users\\techd\\OneDrive\\Desktop\\Projetos A3\\Projeto A3 Comp Graf\\products\\monitor.jpeg -->
            <h3>
                Memória RAM Corsair Vengeance PRO
            </h3>
            <p>
                Memória RAM Corsair Vengeance PRO, 8GB a 64GB, 2666MHz a 4333MHz, Intel XMP 2.0
            </p>
            <img class="img-produto" src="~/content/Images/memoriaram1.svg"></img>
            <br>
            <span class="preco">
                R$ 450,00
            </span>
            <a href="/Principal/comprar">
                <button class="ui-btn-prod">
                    <span>
                        Comprar
                    </span>
                </button>
            </a>
        </div>
        <div class="produto">
            <!-- Colocar as fotos que estão no caminho: C:\\Users\\techd\\OneDrive\\Desktop\\Projetos A3\\Projeto A3 Comp Graf\\products\\monitor.jpeg -->
            <h3>
                Memória RAM Hyperx Predator 16GB
            </h3>
            <p>
                Memória RAM Hyperx Predator 16GB, 4600MHz, Intel XMP 2.0
            </p>
            <img class="img-produto" src="~/content/Images/memoriaram2.svg"></img>
            <br>

            <span class="preco">
                R$ 550,00
            </span>
            <a href="/Principal/comprar">
                <button class="ui-btn-prod">
                    <span>
                        Comprar
                    </span>
                </button>
            </a>
        </div>
        <div class="produto">
            <!-- Colocar as fotos que estão no caminho: C:\\Users\\techd\\OneDrive\\Desktop\\Projetos A3\\Projeto A3 Comp Graf\\products\\monitor.jpeg -->
            <h3>
                Headset Gamer Hyperx Cloud Revolver S
            </h3>
            <p>Headset Gamer Hyperx Cloud Revolver S, Conector de 3,5mm P2, Microfone removível com cancelamento de ruído digital, 353g</p>
            <img class="img-produto" src="~/content/Images/headset1.svg"></img>
            <br>

            <span class="preco">
                R$ 950,00
            </span>
            <a href="/Principal/comprar">
                <button class="ui-btn-prod">
                    <span>
                        Comprar
                    </span>
                </button>
            </a>
        </div>
        <div class="produto">
            <!-- Colocar as fotos que estão no caminho: C:\\Users\\techd\\OneDrive\\Desktop\\Projetos A3\\Projeto A3 Comp Graf\\products\\monitor.jpeg -->
            <h3>
                Headset Gamer Logitech g635
            </h3>
            <p>Headset Gamer Logitech g635, Conector USB, Microfone com cancelamento de ruído e unidirecional, 340g</p>
            <img class="img-produto" src="~/content/Images/headset2.svg"></img>
            <br>

            <span class="preco">
                R$ 1350,00
            </span>
            <a href="/Principal/comprar">
                <button class="ui-btn-prod">
                    <span>
                        Comprar
                    </span>
                </button>
            </a>
        </div>
        <div class="produto">
            <!-- Colocar as fotos que estão no caminho: C:\\Users\\techd\\OneDrive\\Desktop\\Projetos A3\\Projeto A3 Comp Graf\\products\\monitor.jpeg -->
            <h3>Teclado Gamer Mecânico Redragon Kumara</h3>
            <p>Teclado Mecânico Redragon Kumara, Mecânico, Switch (Blue, Red, Brown), RGB Personalizável, Metal e Plástico</p>
            <img class="img-produto" src="~/content/Images/teclado1.svg"></img>
            <br>

            <span class="preco">R$ 999,99</span>
            <a href="/Principal/comprar">
                <button class="ui-btn-prod">
                    <span>
                        Comprar
                    </span>
                </button>
            </a>
        </div>
        <div class="produto">
            <!-- Colocar as fotos que estão no caminho: C:\\Users\\techd\\OneDrive\\Desktop\\Projetos A3\\Projeto A3 Comp Graf\\products\\monitor.jpeg -->
            <h3>
                Teclado Gamer Mecânico HyperX Alloy
            </h3>
            <p>Teclado Mecânico HyperX Alloy, Mecânico, Switch (HyperX Linear, Red ou Blue), RGB Personalizável, Alumínio e Plástico</p>
            <img class="img-produto" src="~/content/Images/teclado2.svg"></img>
            <br>

            <span class="preco">
                R$ 650,00
            </span>
            <a href="/Principal/comprar">
                <button class="ui-btn-prod">
                    <span>
                        Comprar
                    </span>
                </button>
            </a>
        </div>
        <div class="produto">
            <!-- Colocar as fotos que estão no caminho: C:\\Users\\techd\\OneDrive\\Desktop\\Projetos A3\\Projeto A3 Comp Graf\\products\\monitor.jpeg -->
            <h3>
                Teclado Logitech MX Anywhere for Business
            </h3>
            <p>
                Teclado Logitech MX Anywhere for Business, Metal e Plástico
            </p>
            <img class="img-produto" src="~/content/Images/teclado3.svg"></img>
            <br>
            <span class="preco">
                R$ 570,00
            </span>
            <a href="/Principal/comprar">
                <button class="ui-btn-prod">
                    <span>
                        Comprar
                    </span>
                </button>
            </a>
        </div>
    </div>
</section>