@page
@model techdrop.Pages.Principal.contatoModel
@{
}
<section class="produtos">
    <!-- Lista de produtos -->
    <h2 id="h2Prod">Nossos Produtos</h2>
    <div class="containerProdutos">
        <br>
        <br>
        <div class="produto">
            <!-- Colocar as fotos que estão no caminho: C:\\Users\\techd\\OneDrive\\Desktop\\Projetos A3\\Projeto A3 Comp Graf\\products\\monitor.jpeg -->
            <h3>Monitor Gamer</h3>
            <p>Descrição do Produto 1.</p>
            <img src="~/content/Images/monitor1.svg"></img>
            <br>
            <span class="preco">R$ 999,99</span>
            <a href="/Principal/comprar">
                <button class="ui-btn-prod">
                    <span>
                        Adicionar <i class="fi fi-rr-shopping-cart"></i>
                    </span>
                </button>
            </a>
        </div>
        <div class="produto">
            <!-- Colocar as fotos que estão no caminho: C:\\Users\\techd\\OneDrive\\Desktop\\Projetos A3\\Projeto A3 Comp Graf\\products\\monitor.jpeg -->
            <h3>Monitor Gamer</h3>
            <p>Descrição do Produto 1.</p>
            <span class="preco">R$ 999,99</span>
            <a href="/Principal/comprar">
                <button class="ui-btn-prod">
                    <span>
                        Comprar
                    </span>
                </button>
            </a>
        </div>
        <div class="produto">
            <!-- Colocar as fotos que estão no caminho: C:\\Users\\techd\\OneDrive\\Desktop\\Projetos A3\\Projeto A3 Comp Graf\\products\\monitor.jpeg -->
            <h3>Monitor Gamer</h3>
            <p>Descrição do Produto 1.</p>
            <span class="preco">R$ 999,99</span>
            <a href="/Principal/comprar">
                <button class="ui-btn-prod">
                    <span>
                        Comprar
                    </span>
                </button>
            </a>
        </div>
        <div class="produto">
            <!-- Colocar as fotos que estão no caminho: C:\\Users\\techd\\OneDrive\\Desktop\\Projetos A3\\Projeto A3 Comp Graf\\products\\monitor.jpeg -->
            <h3>Monitor Gamer</h3>
            <p>Descrição do Produto 1.</p>
            <span class="preco">R$ 999,99</span>
            <a href="/Principal/comprar">
                <button class="ui-btn-prod">
                    <span>
                        Comprar
                    </span>
                </button>
            </a>
        </div>

    </div>
</section>