@page
@model techdrop.Pages.Principal.contatoModel
@{
}
<section class="sobre">
    <div class="container">
        <h2>Sobre a TechDrop:</h2>
        <p>
            A TechDrop é uma loja online especializada em tecnologia, fundada em 2020 por entusiastas da inovação e
            da qualidade. Nossa missão é fornecer aos clientes os melhores produtos de tecnologia do mercado,
            combinados com uma experiência de compra excepcional.
        </p>
        <p>
            Nosso catálogo inclui uma ampla variedade de produtos, desde smartphones e laptops até dispositivos de
            realidade aumentada e inteligência artificial. Estamos comprometidos em oferecer produtos de alta
            qualidade a preços acessíveis, garantindo a satisfação total de nossos clientes.
        </p>
    </div>
</section>