<!DOCTYPE html>
<html lang="pt-br">


<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TechDrop - Home</title>
    <link rel="icon" type="icon" href="logo.jpg" />
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <header>
        <div class="container">
            <h1><a style="color: #ecbb2b;" href=".\Index">TechDrop</a></h1>
            <nav>
                <ul>
                    <li><a href="~/Index">Home</a></li>
                    <li><a href="/Principal/produtos">Produtos</a></li>
                    <li><a href="/Principal/sobre">Sobre</a></li>
                    <li><a href="/Principal/contato">Contato</a></li>
                    <li id="login" style="float:right;"><a href=".\Principal\login">Login</a></li>
                </ul>
            </nav>
        </div>
    </header>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer>
        <div class="container">
            <p>&copy; 2024 TechDrop. Todos os direitos reservados.</p>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>