@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<section class="hero">
    <div class="container">
        <h2>Bem-vindo à TechDrop</h2>
        <p>Sua loja de tecnologia com produtos incríveis e experiências de compra inovadoras.</p>
        <a href="/Principal/produtos">
            <button class="ui-btn">
                <span>
                    Explorar
                </span>
            </button>
        </a>
    </div>
</section>
