@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}


<div id="index_div" class="container">
    <h2>Bem-vindo à</h2>
    <h1>TechDrop</h1>
    <p>Sua loja de tecnologia com produtos incríveis e experiências de compra inovadoras.</p>
    <img id="index_img" src="content/Images/logo1.png"> <!-- ESSA LOGO HORRÍVEL FOI ORDEM DO PROFESSOR!!!!!!!  -->
    <a href="/Principal/produtos">
        <button class="ui-btn">
            <span>
                Explorar
            </span>
        </button>
    </a>
</div>